@if (!string.IsNullOrEmpty(Message))
{
	<div class="alert @alertClass">@Message <span style="float: right;" @onclick="HideMessage">x</span></div>
}

@code {
	[Parameter]
	public string Message { get; set; }

	private AlertTypes _messageType;

	string alertClass = string.Empty;

	[Parameter]
	public AlertTypes MessageType
	{
		get => _messageType;
		set
		{
			_messageType = value;
			switch (_messageType)
			{
				case AlertTypes.Error:
					alertClass = "alert-danger";
					break;
				case AlertTypes.Warning:
					alertClass = "alert-warning";
					break;
				case AlertTypes.Success:
					alertClass = "alert-success";
					break;
				default:
					break;
			}
		}
	}

	void HideMessage()
	{
		Message = string.Empty;
	}
}
